<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav-right">My Portfolio</div>
      <div class="nav-left">
        <%= link_to "自己紹介", "#" %>
        <%= link_to "これまで開発したもの", "#" %>
        <%= link_to "開発において苦労した点", "#" %>
      </div>
  </div>
</header>