<%= render "shared/header" %>

  <div class="h1">このサイトについて</div><br>
  <div class="content">こちらでは簡単な私の自己紹介や、これまで作成してきた作品などを掲示しています。<br>どうぞご寛容な心で、ご覧になってください。<br>下記リンクよりご覧になって下さい。</div>
  <div class="category">
    <p><%= link_to "自己紹介", "#" %></p>
    <p><%= link_to "これまで開発したもの", "#" %></p>
    <p><%= link_to "開発において苦労した点", "#" %></p>
  </div>
