<%= render "shared/header" %>

  <div class="h1">このサイトについて</div>
  <div class="content">こちらでは簡単な私の自己紹介や、これまで作成してきた作品などを掲示しています。どうぞご寛容な心で、ご覧になってください。</div>
  <div class="h2">自己紹介</div>
  <table class="table">
    <tr>
      <th>名前</th>
      <td>堂原　麻由</td>
    </tr>
    <tr>
      <th></th>
  </table>
<%= render "shared/footer" %>
