<%= render "shared/header" %>

  <div class="h1">このサイトについて</div><br>
  <div class="content"><p>こちらでは簡単な私の自己紹介や、これまで作成してきた作品などを掲示しています。</p><br><p>どうぞご寛容な心で、ご覧になってください。</p><br><p>下記リンクよりご覧になって下さい。</p><br></div>
  <div class="category">
    <p><%= link_to "自己紹介", "#" %></p><br>
    <p><%= link_to "これまで開発したもの", "#" %></p><br>
    <p><%= link_to "開発において苦労した点", "#" %></p><br>
  </div>

  <div id="aspslide">
    <div id="asnakami1" class="asnakami"><img src=""></div>
    <div id="asnakami2" class="asnakami"><img src=""></div>
    <div id="asnakami3" class="asnakami"><img src=""></div>
    <div id="asnakami4" class="asnakami"><img src=""></div>
    <div id="asnakami5" class="asnakami"><img src=""></div>
    <div id="asnakami6" class="asnakami"><img src=""></div>
  </div>
