<%= render "shared/header" %>

  <p class="box"><%= image_tag "cache_Messagep18377-min.JPG", class:"photo" %></p>
  <div class="bubble02">こちらは、私が飼っている猫です♡</div>
  <div class="mybox">
  ◯名前◯　堂原　麻由<br>　　　　（"どうばら"と読みます( ⁎ᵕᴗᵕ⁎ )）<br>
  ◯出身◯　広島県<br>
  ◯趣味◯　猫・読書・ゲーム・アニメ鑑賞
  </div>
  <div class="mybox2">
  ◯2021年2月プログラミングスクール『TECH CAMP』<br>　入校<br>
  ◯HTML、CSS、Ruby、JavaScriptを学習<br>
  ◯2021年4月プログラミングスクール『TECH CAMP』<br>　卒業<br>
  ◯Ruby on Railsを用いたアプリケーション開発を<br>　継続中<br>
  ◯GitHub URL: https://github.com/i-love-fgo
  </div>