.h1 {
  font-family: 'Kosugi Maru', sans-serif;;
  font-size: 35px;
}
.content {
  font-size: 20px;
}
.box10 {
  padding: 0.5em 1em;
  margin: 2em 325px;
  color: #00BCD4;
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.box10 p {
  margin: 0; 
  padding: 0;
}
.box11 {
  padding: 0.5em 1em;
  margin: 2em 480px;
  background: #ffe4b5;
  border-top: solid 6px #ffa500;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.box11 p {
  margin: 0; 
  padding: 0;
}
.nav__btn {
  color: #ff8c00;
  text-decoration: none;
  border: 1px #ff8c00 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #ff8c00;
}