.h1 {
  font-family: 'Aclonica', sans-serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Chela One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Goblin One', cursive;
  font-size: 40px;
}
.content {
  font-size: 20px;
}