* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kosugi Maru', sans-serif;;
  text-align: center;
  color: #3b4043;
  font-size: 35px;
}

.parallax_content {
  justify-content: center;
  align-items: center;
  background-size: 1500px;
  background-position: left top 260px;
  background-repeat: round;
  height: 99.9vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-attachment: fixed;
}
.img_bg_1 {
  background-image: url("yuruneko11.png");
}
.img_bg_2 {
  background-image: url("nikukyuu.jpeg");
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #3b4043;
}
.header {
  background-color: #dda0dd;
  margin-bottom: 48px;
  padding: 15px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  width: 200px;
}
#aspslide{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow:hidden;
  padding:0!important;
}
.asnakami{
  position: absolute;
  width: 500px;
  height: 500px;
  padding: 0!important;
  margin: 50px 500px;
}   
#asnakami1{
  -moz-animation: fadeinout 30s 0s infinite;
  -webkit-animation: fadeinout 30s 0s infinite;
  -o-animation: fadeinout 30s 0s infinite;
  animation: fadeinout 30s 0s infinite;
}
#asnakami2{
  -moz-animation: fadeinout 30s 5s infinite;
  -webkit-animation: fadeinout 30s 5s infinite;
  -o-animation: fadeinout 30s 5s infinite;
  animation: fadeinout 30s 5s infinite;
}
#asnakami3{
  -moz-animation: fadeinout 30s 10s infinite;
  -webkit-animation: fadeinout 30s 10s infinite;
  -o-animation: fadeinout 30s 10s infinite;
  animation: fadeinout 30s 10s infinite;
}
#asnakami4{
  -moz-animation: fadeinout 30s 15s infinite;
  -webkit-animation: fadeinout 30s 15s infinite;
  -o-animation: fadeinout 30s 15s infinite;
  animation: fadeinout 30s 15s infinite;
}
#asnakami5{
  -moz-animation: fadeinout 30s 20s infinite;
  -webkit-animation: fadeinout 30s 20s infinite;
  -o-animation: fadeinout 30s 20s infinite;
  animation: fadeinout 30s 20s infinite;
}
#asnakami6{
  -moz-animation: fadeinout 30s 25s infinite;
  -webkit-animation: fadeinout 30s 25s infinite;
  -o-animation: fadeinout 30s 25s infinite;
  animation: fadeinout 30s 25s infinite;
}
@-moz-keyframes fadeinout {
  0% { left:0%; opacity:0;}
  5% { left:0%;opacity:1; }
  20% { left:0%; opacity:1;}
  25% { left:0%;opacity:0; }
  26% { opacity:0;left:100%; }
  99.99% { opacity:0;left:100%; }
  100% { opacity:0;left:0%; }
 }
 @-webkit-keyframes fadeinout {
  0% { left:0%; opacity:0;}
  5% { left:0%;opacity:1; }
  20% { left:0%; opacity:1;}
  25% { left:0%;opacity:0; }
  26% { opacity:0;left:100%; }
  99.99% { opacity:0;left:100%; }
  100% { opacity:0;left:0%; }
 }
 @-o-keyframes fadeinout {
  0% { left:0%; opacity:0;}
  5% { left:0%;opacity:1; }
  20% { left:0%; opacity:1;}
  25% { left:0%;opacity:0; }
  26% { opacity:0;left:100%; }
  99.99% { opacity:0;left:100%; }
  100% { opacity:0;left:0%; }
 }
 @keyframes fadeinout {
  0% { left:0%; opacity:0;}
  5% { left:0%;opacity:1; }
  20% { left:0%; opacity:1;}
  25% { left:0%;opacity:0; }
  26% { opacity:0;left:100%; }
  99.99% { opacity:0;left:100%; }
  100% { opacity:0;left:0%; }
 }
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
 @media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}