* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Concert One', cursive;
  color: #3b4043;
}

.background {
  background-image: url("yuruneko11.png");
  background-size: 1000px;
  background-position: top 30%;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 15px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
 @media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}