<%= render "shared/header" %>

  <p class="box"><%= image_tag "IMG_1066-min.JPG", class:"photo" %></p>
  <div class="bubble03">こちらは、私が飼っている猫です♡</div>
  <div class="mybox3">
    <p>
      ◯My Portfolio<br>
      ◆概要◆<br>
      私がこれまでに開発したものを、分かりやすく表示したものになります。<br>
      ◆サイトURL◆<br>
      (現在ご覧になっているサイトです)<br>
    </p><br>
    <p>
      ◯Cat Fortune<br>
      ◆概要◆<br>
      占いx猫をコンセプトに開発した、アプリケーションになります。<br>
      占いに精通している訳ではない為、ご寛容な心でお楽しみください。<br>
      ◆サイトURL◆<br>
      http://54.250.127.159/
    </p>
  </div>
