<%= render "shared/header" %>
  
  <div class="mybox1">
  ◆占い結果をJavaScriptで実装しています。<br>
  ◆結果内に画像を表示させることに苦労しました。<br>
  ◆今後も随時機能を追加していく予定です。<br>
  </div>
  <div class="mybox2">
  ◆画像のスライドショーにはこだわって実装しました。<br>
  ◆今後も新たなアプリを開発毎に更新していきます！<br>
  </div>
  <div class="mybox3">
  To Be Continue...
  </div>