.mybox3{
  background-color: #ffe4b5;  /* 背景色 */
	border-radius: 5px;
	margin-left: 500px;
  margin-top: -420px;
	padding: 45px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
	position: relative;
	z-index: 0;
  text-align: start;
  align-items: center;
  width: 870px;
  color: #191970;
  font-size: 25px;
}
.mybox3:before{
  border: 1px solid #fff; /* 白い実線 */
	border-radius: 5px;
	content: '';
	display: block;
	margin: 4px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}
.mybox3:after{
  background-color: rgba(255,215,0,0.6);  /* マステ背景色 */
	background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0); /* 水玉の色 */
	background-position: 0 0, 8px 8px;  /* 水玉の距離 */
	background-size: 15px 15px; /* 水玉の大きさ */
	border-left: 2px dotted rgba(0,0,0,0.1);
	border-right: 2px dotted rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	content: '開発物';
  color: #dc143c;
	display: block;
	padding: 5px 20px;  
	text-align: center;
	position: absolute;
	top: -10px;
	left: 20px;
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}
.link {
  text-decoration: underline;
}
.box {
  display: block;
  margin-left: 70px;
  width: 250px;
  height: 160px;
}
.bubble03 {
  position: relative;
  padding: 20px;
  display: inline-block;
  min-width: 200px;
  max-width: 100%;
  background-color: #87cefa;
  color: #ffffff;
  border-radius: 20px;
  margin-left: -1050px;
  margin-top: 200px;
  font-size: 20px;
}
.bubble03:before {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 20px;
  top: -15px;
  border-left: 20px solid #1a62bc;
  border-top: 20px solid #1a62bc;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.bubble03:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 35px;
  top: -20px;
  border-left: 20px solid #ffffff;
  border-top: 20px solid #ffffff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}